@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-feature-settings: "ss01";
}

input, button, textarea, select {
  font: inherit;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d5dced transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #d5dced;
  border-radius: 999px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}
